---
import fbLogo from "../../assets/images/facebook.png";
import { Image } from "astro:assets";
---

<div class="bg-white py-8">
  <h1 class="text-2xl text-black font-bold text-center mx-10">
    All platform connect to Sponsorify
  </h1>

  <div class="flex flex-wrap gap-4 mx-9 justify-center my-6">
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
    <div
      class="w-16 h-16 rounded-md bg-slate-100 flex justify-center items-center"
    >
      <Image width={30} src={fbLogo} alt="fbLogo" />
    </div>
  </div>
</div>
